name: Build to ECR

on:
  push:
    branches:
    - development
    - uat
    - production

env:
  ECR_REPOSITORY: nestjs-monolith-boilerplate
  ECR_ENVIRONMENT: ${{ github.head_ref || github.ref_name }}

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-session-name: OIDCSession
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image to Amazon ECR
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}-${{ env.ECR_ENVIRONMENT }}:${{ github.sha }}
